<div class="product-card">
  <div class="product-card__image-border">
    <div class="product-card__image-border-container">
      <img src="/assets/{{ product.image }}" alt="{{ product.title }}" width="" height="">
    </div>
  </div>
  <div class="product-card__info">
    <div>
      <h5>{{ product.title }}</h5>
      <h5>${{ product.price }} USD</h5>
    </div>
    <div class="product-card__info-image">
      <img
        src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/all-3/shopping-cart-9xhllmo2cb79djc9j7b5kb.png/shopping-cart-pe974q2wd8bzu5cueg3qr.png?_a=DATAg1AAZAA0"
        alt="" width="" height="">
    </div>
  </div>
  {% if product.tags %}
  <div class="product-card__tag-list">
    {% for tag in product.tags %}
    <span class="product-card__tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}
</div>
