<section class="topbar">
  <div class="topbar__marquee">
    <div class="topbar__content">
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
    </div>
    <div class="topbar__content" aria-hidden="true">
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
      <p class="topbar__text">{{ settings.top-bar.settings.marquee_text }}</p>
      <div class="topbar__icon">{% render 'star' %}</div>
    </div>
  </div>
</section>
